style
    include ../public/style.css
<div class="dropdown">
  <button class="dropbtn">Выбор категории</button>
  <div class="dropdown-content">
    <a href="#" >Все категории</a>
    <a href="#">Цветы в коробке</a>
    <a href="#">Бизнес-букеты</a>
    <a href="#">Авторские букеты</a>
  </div>
</div>