extends layout.pug

block title
    <title>#{title}</title>

block content

    <h1>#{title}</h1>
    <p>В случае если цветы в коробке вам срочно потребовались, позвоните или напишите нам, и мы обязательно поможем! Самовывоз возможен через час после предварительного заказа.</p>
    <p>ONE MILLION FLOWERS</p>

    <br/><p>м. Улица 1905 года (6 минут)</p>

    <br/><p>Мантулинская, 2</p>

    <br/><p>+7 (499) 495-46-85</p>

    <br/><p>+7 (905) 736-57-85</p>

    <br/><p>(мобильный и Whatsapp/Viber/Telegram)</p>

    <br/><p>Оформить заказ и забрать можно КРУГЛОСУТОЧНО</p>
