extends layout.pug

block title
    title CONTACTS |  MILLION FLOWERS
block content
    body
        div(id="container")
            div(class="product-details")
                h1 Контакты
                br
                p -- MILLION FLOWERS --
                br
                br
                div(class="information")
                    <p>В случае если цветы в коробке вам срочно потребовались, позвоните или напишите нам, и мы обязательно поможем! Самовывоз возможен через час после предварительного заказа.</p>
                    <br/><p>м. Улица 1905 года (6 минут)</p>

                    <br/><p>+7 (499) 495-46-85</p>

                    <br/><p>(мобильный и Whatsapp/Viber/Telegram)</p>

                    <br/><p>Оформить заказ и забрать можно КРУГЛОСУТОЧНО</p>
                    div(class="mycontrol")
                        button(class="mmybtn" onclick="location = '/'")
                            span(class="onmain") На главную
            div(class="product-image")
                img(src="https://onemillionflowers.ru/wp-content/uploads/2018/02/Arktik-3-600x600.jpg")
