<footer id="footermine">
<div class="f-left">
    <h5>О сервисе</h5>
    <ul id="footer_menu">
        <li><a href="http://localhost:3000/"><span>Главная</span></a></li>
        <li><a href="http://localhost:3000/contact"><span>Контакты</span></a></li>
    </ul>
</div>
<div>
        <br>© ONE MILLION FLOWERS 2020
        <br> Скрипникова
</div>
</footer>