<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Skripnikova - 
    <a href="https://localhost:3000/"> MILLION FLOWERS</a>
  </div>
  <!-- Copyright -->

</footer>