extends layout.pug

block title
    <title> MILLION FLOWERS | Main page </title>

block content
    .container-fluid
        if editItem
            form(method="POST", action="/update")
                .form-row.justify-content-center
                    .form-group.col-sm-6
                        label Title
                        input.form-control(name="title", value-editItem.title, required)
                .form-row.justify-content-center
                    .form-group.col-sm-3
                        label Description
                        input.form-control(name="description", required)
                    .form-group.col-sm-3
                        label IMG
                        input.form-control(name="img", required)
                    .form-group.col-sm-3
                        label Price
                        input.form-control(name="price", required)
            
            .form-row.justify-content-center.mt-5
                input.btn.btn-secondary.form-control.col-sm-6(type="submit", value="Add")
        else
            form(method="POST", action="/add")
                .form-row.justify-content-center
                    .form-group.col-sm-6
                        label Title
                        input.form-control(name="title" required)
                .form-row.justify-content-center
                    .form-group.col-sm-3
                        label Description
                        input.form-control(name="description", required)
                    .form-group.col-sm-3
                        label IMG
                        input.form-control(name="img", required)
                    .form-group.col-sm-3
                        label Price
                        input.form-control(name="price", required)
            
            .form-row.justify-content-center.mt-5
                input.btn.btn-secondary.form-control.col-sm-6(type="submit", value="Add")
        br
        br
        div(class='products')
            each item in products
                div(class='product_block') 
                    div(class='product_img')
                        img(src=`${item.img}`)
                    div(class='product_name') #{item.title}
                    div(class='product_name') #{item.price} р.
                    input(class="btn_next" type="button", value="Подробнее")


                
                    
    
                    
                        
            