extends layout.pug

block title
    title PRODUCT CARD |  
block content
    body
        div(id="container")
            div(class="product-details")
                h1 #{title}
                br
                br
                p(class="information") #{disc}
                    div(class="control")
                        button(class="mmybtn")
                            span(class="price") #{price}₽
                            span(class="buy") Buy Now
            div(class="product-image")
                img(src=`${img}`)