.product_block{
    display: block;
	width: 100%;
	float: left;
    transition: transform .4s ease-out;
    height: auto;
    

	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
    height: 350px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;

    text-align: center;
    
    justify-content: center;
}

.products {
    display: flex;
    align-items: center;
	margin: 0 -20px 0 0;
    padding: 0;
    justify-content: center;
}

.btn_next {
	padding: 1.0em 3.1em;
	border: none;
	border-radius: 50px;
	font-size: 0.8em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 12px;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: #292881;;
	box-shadow: 2px 2px 25px -7px #000000;;
	cursor: pointer;
}

@media only screen and (min-width: 450px) {
	.product_block {
        width: 40%;
        height: auto;
        flex-direction: column;
    }      
}

@media only screen and (max-width: 2000px) {
    .products {
        flex-wrap: wrap;
    }
    .product_block {
        flex-basis: 25%;
    }
}

@media only screen and (max-width: 1000px) {
    .products {
        flex-wrap: wrap;
    }
    .product_block {
        flex-basis: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .products {
        flex-wrap: wrap;
    }
    .product_block {
        flex-basis: 50%;
    }
}

@media only screen and (min-width: 768px) {
	.product_block {
        width: 30%;
        height: auto;
        flex-direction: column;
    }

}

@media only screen and (min-width: 1000px) {
	.product_block {
        width: 20%;
        height: auto;
        flex-direction: column;
	}
}



.main_img{
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    margin-top: 70px;
}

.product_block  {
      width: 90%;
}


.product_img {
	position: relative;
	padding-bottom: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    vertical-align: top;
}
.product_name {
    vertical-align: bottom;
}

.product_img img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
    max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-bottom: 50px;
    background-color: #3c3e42;
    color: #fff;
  }
  menu {
    position: fixed;
    top: -15px;
    width: 100%;
    color: #fff;
    background-color: #3c3e42;
  }

.product_block:hover .product_img img {
    transform: scale(1.05);
   }
