.product_block{
    display: block;
	width: 100%;
	float: left;
    transition: transform .4s ease-out;
    height: auto;
    

	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
    height: 350px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;

    text-align: center;
    
    justify-content: center;
}

.products {
    display: flex;
    align-items: center;
	margin: 0 -20px 0 0;
    padding: 0;
    justify-content: center;
}

.btn_next {
	padding: 1.0em 3.1em;
	border: none;
	border-radius: 50px;
	font-size: 0.8em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 12px;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: #292881;;
	box-shadow: 2px 2px 25px -7px #000000;;
	cursor: pointer;
}

@media only screen and (min-width: 450px) {
	.product_block {
        width: 40%;
        height: auto;
        flex-direction: column;
    }      
}

@media only screen and (max-width: 2000px) {
    .products {
        flex-wrap: wrap;
    }
    .product_block {
        flex-basis: 25%;
    }
}

@media only screen and (max-width: 1000px) {
    .products {
        flex-wrap: wrap;
    }
    .product_block {
        flex-basis: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .products {
        flex-wrap: wrap;
    }
    .product_block {
        flex-basis: 50%;
    }
}

@media only screen and (min-width: 768px) {
	.product_block {
        width: 30%;
        height: auto;
        flex-direction: column;
    }

}

@media only screen and (min-width: 1000px) {
	.product_block {
        width: 20%;
        height: auto;
        flex-direction: column;
	}
}



.main_img{
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    margin-top: 70px;
}

.product_block  {
      width: 90%;
}


.product_img {
	position: relative;
	padding-bottom: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    vertical-align: top;
}
.product_name {
    vertical-align: bottom;
}

.product_img img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
    max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-bottom: 50px;
    background-color: #3c3e42;
    color: #fff;
  }
  menu {
    position: fixed;
    top: -15px;
    width: 100%;
    color: #fff;
    background-color: #3c3e42;
  }

.product_block:hover .product_img img {
    transform: scale(1.05);
   }


    
#container{
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 10em auto;
    height: 500px;
    width: 940px;    
}
.product-details {
    position: relative;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 50%;    
}

#container .product-details h1{
    display: inline-block;
    position: relative;
    font-size: 24px;
    color: #344055;
    margin: 0;
    text-align: center;
}

#container .product-details p{
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #acb7c9;
    padding-top: 0.5em;
    margin: 0;
    text-align: center;
}
    

    
#container .product-details .information {
    text-align: center;
    font-size: 20px;
    color: #7d7d7d;
}
    
.control{
    position: absolute;
    bottom: 10%;
    left: 22.8%;
}

.mmybtn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: #49C608;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
}
    
.mmybtn:hover{transform: translateY(-4px);}
    
.mmybtn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin:0;
}
.mmybtn .price{
    background: #333;
    border: 0;
    margin: 0;
}
    
.mmybtn .price {
    transform: translateX(-10%); padding-right: 15px;
}
    

.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 50%;
    display: inline-block;
}
    
#container img {width: 100%;height: 100%;}
    
.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}
    
/* Dropdown Button */
.dropbtn {
    background-color: #444347;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    border-radius: 5%;
    position: center;
    place-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: center;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #5a5959;}

.hide {
    display: none;
}
